h1{
    color: green;
    font-style: italic;
}
a{
    margin-right: 30px;
    color: blue;
}
a:hover{
    color: white;
}
a:visited{
    color:lightcyan;
}
a:active{
    color: brown;
}
body{background-color:black;}
